.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 100vh;
    width: 10vw;
}

.nav-bar-collapsed {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 100vh;
    width: 5vw;
}

.nav-bar button,
.nav-bar-collapsed button {
    width: 5vh;
    height: 5vh;
}


.logo-collapse-btn-container {
    display: flex;
    justify-content: space-between;
}

.logo-collapse-btn-container a img {
    width: 5vw;
    background-color: blueviolet;
}

