@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.title {
  font-family: "Roboto";
  font-size: 5vh;
  font-weight: 500;
  text-align: center;
}

.user-id {
  font-family: "Roboto";
  height: 5vh;
  padding-left: 10px;
  border-radius: 1vh;
  border: 2px solid #ccc;
  width: 100%;
}

.email-input-container,
.password-input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
  width: 100%;
}

.password-input-container {
  align-items: center;
}

.password-input-container .user-id {
  width: 92%;
}

.eye-icon {
  height: 4vh;
  width: 4vh;
}

.forgot-password {
  font-family: "Roboto";
  margin-top: 2vh;
  text-align: center;
  cursor: pointer;
  color: rgba(48, 111, 204, 255);
}

.submit-btn {
  font-family: "Roboto";
  font-size: 2.5vh;
  margin-top: 4vh;
  border-radius: 0.8vh;
  border-width: 0px;
  background-color: rgb(48, 111, 204);
  color: white;
  height: 7vh;
  width: 50%;
}

.redirect-text {
  font-family: "Roboto";
  text-align: center;
  margin-top: 2vh;
}

.redirect-text span {
  font-family: "Roboto";
  cursor: pointer;
  color: rgba(48, 111, 204, 255);
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5vh;
}

.divider span {
  font-family: "Roboto";
  color: #9a9999;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;   /* the line */
}

.divider span {
  margin-left: 12px; 
  margin-right: 12px;
  white-space: nowrap;
}

.third-party-login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  text-align: center;
  margin-top: 5vh;
  width: 100%;
}

.facebook-submit-btn,
.google-submit-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2vh;
  font-family: "Roboto";
  text-align: center;
  border-radius: 0.8vh;
  border-width: 0px;
  background-color: rgb(48, 111, 204);
  height: 7vh;
  width: 30%;
  /* box-sizing: border-box; */
}

.facebook-submit-btn {
  background-color: rgb(74, 102, 173);
  color: white;
} 

.facebook-submit-btn img,
.google-submit-btn img {
  width: 10%;
}

.google-submit-btn {
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
} 

  
